table{
    border-collapse: collapse;
    border: 2px solid rgb(black);
       }

td,
th{
    border: 1px solid black;
    padding: 1px; 
    }

.green{
    color: green;
}

.red{
    color: red;
}

tfoot,
thead{
    text-align: center;
}

