.maincontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: red;
        height: 40px;
        width: 100%;
    }

#icon{
    display: none;
}    

img{
    width: 30px;
}
        
@media all and (max-width:768px){
    .maincontainer a{
        display: none;
    }
    #icon{
        display: initial;
        margin-right: auto;
    }

    
}
